@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Light Italic';
    src: url('./assets/fonts/Roboto-LightItalic.woff2') format('woff2');
}

body {
    margin: 0;
}

header {
    padding: 16px min(5.5vw, 108px) 108px;
    background-color: #1F2937;
    font-family: roboto;
    font-size: 24px;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

header nav {
    display: flex;
    gap: 16px;
    margin-bottom: 108px;
    width: 100%;
}

header nav li {
    list-style-type: none;
}

header nav li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto Bold';
    margin-right: auto;
}

.header-content {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.header-content>div {
    flex: 1;
}

.header-content h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-family: 'Roboto Bold';
    margin: 0;
}

.header-content p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px 0;
}

.header-content button {
    color: #E5E7EB;
    background-color: #3882F8;
    border-radius: 6px;
    border: 0;
    padding: 8px 26px;
    font-size: 10px 18px;
    font-family: 'Roboto Bold';
    margin: 10px 0;
}

.header-content .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    font-size: 18px;
}

main section:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 26px;
    column-gap: 62px;
    margin-top: 20px;
    padding-bottom: 80px;
    font-family: 'Roboto';
}

main section:first-of-type h2 {
    width: 100vw;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto Bold';
}

main section:first-of-type>div {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-image {
    border: 5px solid #3882F0;
    border-radius: 18px;
    width: 100%;
    height: 140px;
}

.item-text {
    color: gray;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

main section:nth-of-type(2) {
    background-color: #E5E7EB;
    padding: min(10vw, 80px) min(10vw, 120px);
    height: fit-content;
}

blockquote {
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Roboto';
}

blockquote p {
    font-size: min(5vw, 36px);
    font-family: 'Roboto Light Italic';
}

blockquote footer {
    text-align: end;
    font-family: 'Roboto Bold';
    font-size: min(5.5vw, 26px);
}

main section:last-of-type {
    padding: 58px 25px;
}

main section:last-of-type h2 {
    margin: 0;
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.cta-container {
    box-sizing: border-box;
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    display: flex;
    padding: min(5.5vw, 50px) min(5.5vw, 100px);
    font-family: 'Roboto';
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.cta-container>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cta-container p {
    margin: 0;
    color: #E5E7EB;
    font-size: 14px;
}

.cta-container button {
    margin: 0;
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    padding: 5px 25px;
    font-size: 12px;
}

body > footer {
    text-align: center;
    padding: 40px 0;
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
}
footer > span {
    margin: 0 8px;
}